.main{
    display: flex;
    width: 100%;
    border-color: orange;
    background-color: orange;
    border: 5px;
    padding: 5px;
}
.main div {
    color: white;
    width: 250px;
    height: 900px;
text-align: center;
font-size: x-large;


}
.c1 {
    background-color: green;
}
.c2 {
    background-color: yellow;
}
.c3 {
    background-color: purple;
}
.c4 {
    background-color: gray;
}
.c5 {
    background-color: blue;
}
.c6 {
    background-color: orange;
}
.c7 {
    background-color: pink;
}
.c8 {
    background-color: red;
}
.c9 {
    background-color: rgb(78, 36, 36);
}